.game {
  display: block;
  position: relative;
}

.board {
  position: absolute;
}

.board.size-9 {
  top: 120px;
}

.board.size-9 .column {
  width: 50px;
  height: 50px;
}

.board.size-9 .row {
  height: 51px;
}

.board.size-9 .stone {
  width: 46px;
  height: 46px;
  top: -26px;
  left: -24px;
}

.board.size-13 {
  top: 110px;
}

.board.size-13 .column {
  width: 40px;
  height: 40px;
}

.board.size-13 .row {
  height: 41px;
}

.board.size-13 .stone {
  width: 36px;
  height: 36px;
  top: -21px;
  left: -19px;
}

.board.size-19 {
  top: 105px;
}

.board.size-19 .column {
  width: 30px;
  height: 30px;
}

.board.size-19 .row {
  height: 31px;
}

.board.size-19 .stone {
  width: 26px;
  height: 26px;
  top: -16px;
  left: -14px;
}

.board .column {
  border-left: 1px solid black;
  border-top: 1px solid black;
  display: inline-block;
  margin-left: 0;
  background: url(/images/board.png);
}

.board .column:last-child {
  border-top: 1px solid transparent;
  background:transparent;
}

.board .row {
  display: block;
}

.board .row:last-child .column {
  border-left: 1px solid transparent;
  background:transparent;
}

.board .stone {
  border: 1px solid transparent;
  border-radius: 100%;
  position: relative;
}

.board .stone:focus {
  outline: 0;
}

.board .stone.black, .stone.white {
  border: 1px solid black;
  cursor: auto;
}

.board .stone.black {
  background: black;
}

.board .stone.white {
  background: white;
}

.board .stone.empty {
  background: transparent;
}

.board .stone.small {
  height: 15px;
  width: 15px;
  position: static;
}
