.game {
  display: block;
  position: relative;
}

.board {
  position: absolute;
  top: 120px;
}

.board .column {
  width: 50px;
  height: 50px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  display: inline-block;
  margin-left: 0;
  background: url(/images/board.png);
}

.board .column:last-child {
  border-top: 1px solid transparent;
  background:transparent;
}

.board .row {
  display: block;
  height: 51px;
}

.board .row:last-child .column {
  border-left: 1px solid transparent;
  background:transparent;
}

.stone {
  width: 46px;
  height: 46px;
  border: 1px solid transparent;
  border-radius: 100%;
  position: relative;
  top: -26px;
  left: -24px;
}

.stone.black, .stone.white {
  border: 1px solid black;
}

.stone.black {
  background-color: black;
}

.stone.white {
  background-color: white;
}

.stone.small {
  height: 15px;
  width: 15px;
  position: static
}
