.game .player {
  width: 300px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 15px; 
  padding: 10px;
}

.game .player .name {
}

.game .player .color {
  font-weight: bold;
}

.player .stone {
  margin-top: -6px;
  visibility: hidden;
}

.player .stone.turn {
  visibility: visible;
}
