<div data-scope="game" class="game"> 
  <div class="links">
    <p>
      <a data-prop="new">New Game</a>
      <a data-prop="new_9">(9)</a>
      <a data-prop="new_13">(13)</a>
      <a data-prop="new_19">(19)</a>
      <a data-prop="download">Download</a>
      <a data-prop="login_logout">Login/Logout</a>
      <a data-prop="profile">Profile (User Name)</a>
    </p>
  </div>
  <div data-scope="black" class="player">
    <table>
      <tr>
        <th>Black: </th>
        <td data-prop="name" class="name">Player</td>
        <th>Captures: </th>
        <td data-prop="captures" class="captures">0</td>
        <td><div data-prop="turn" class="black stone small zeroed"></div></td>
      </tr>
    </table>
  </div>
  <div data-scope="white" class="player">
    <table>
      <tr>
        <th>White: </th>
        <td data-prop="name" class="name">Player</td>
        <th>Captures: </th>
        <td data-prop="captures" class="captures">0</td>
        <td><div data-prop="turn" class="white stone small zeroed"></div></td>
      </tr>
    </table>
  </div>
  <div class="links">
    <p>
      <a data-prop="pass" class="button">Pass</a>
      <a data-prop="undo" class="button">Undo</a>
    </p>
  </div>
  <div data-scope="board" data-prop="board_size" class="board">
    <div data-scope="row" class="row">
      <div data-scope="column" class="column">
        <a data-prop="play">
          <div data-prop="stone" class="stone"></div>
        </a>
      </div>
    </div>
  </div>
</div>
