<!DOCTYPE html>
<html>
<head>
  <title>
    Pakyow
  </title>

  <link rel="stylesheet" type="text/css" href="/pakyow-css/structure.css">
  <link rel="stylesheet" type="text/css" href="/pakyow-css/style.css">

  <link rel="stylesheet" type="text/css" href="/css/links.css">
  <link rel="stylesheet" type="text/css" href="/css/board.css">
  <link rel="stylesheet" type="text/css" href="/css/players.css">
  <script src="/js/ring/pakyow.min.js"></script>
  <script src="/js/ring/components/mutable.min.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50971654-3', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body>
  <div class="container-1 margin-t">
    <!-- @container -->
  </div>
</body>
</html>
